/*@tailwind base;*/

/**
 * Custom base styles
 */

* {
  /* Text rendering */
  text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

* :focus {
  outline: none !important;
}

html {
  font-size: 62.5%;
  font-family:
    "Inter var",
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif;
  background-color: #121212;
}

body {
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
  font-feature-settings: "salt";
}

html,
body {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

html,
body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  min-height: 100%;
  width: 100%;
  flex: 1 1 auto;
}

#root {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

h1,
.h1 {
  font-size: 24px;
}

h2,
.h2 {
  font-size: 20px;
}

h3,
.h3 {
  font-size: 16px;
}

h4,
.h4 {
  font-size: 15px;
}

h5,
.h5 {
  font-size: 13px;
}

h6,
.h6 {
  font-size: 12px;
}

.ps > .ps__rail-y,
.ps > .ps__rail-x {
  z-index: 99;
}

a[role="button"] {
  text-decoration: none;
}

[role="tooltip"] {
  z-index: 9999;
}

.MuiModal-root {
  z-index: 9999;
}

/* Medium Devices, Desktops Only */
@media only screen and (min-width: 992px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar:hover {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.06);
  }

  ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:active {
    border-radius: 20px;
  }
}

form label {
  z-index: 99;
}

body.no-animate *,
body.no-animate *::before,
body.no-animate *::after {
  transition: none !important;
  animation: none !important;
}

button:focus {
  outline: none;
}

/* Removes webkit's autofill backgorund color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transitiondelay: 9999s;
  transitionproperty: background-color, color;
}

:focus {
  outline-color: transparent;
}

/*fullcalendar Fix*/
.fc-scrollgrid-section-liquid {
  height: 1px !important;
}

.muiltr-mnnd27-MuiInputBase-input-MuiFilledInput-input {
  padding-top: 2px;
}

.muiltr-1oe5gwb-MuiInputBase-root-MuiFilledInput-root {
  min-height: 47px;
  background-color: white;
  border: 1px solid gray;
}

.muiltr-8ifrkm {
  border-bottom: none;
}

.muiltr-b10jnn .container {
  margin-bottom: 0;
  border-radius: 25px;
}

.MuiBox-root.muiltr-m0mtpj {
  margin: 0;
  padding: 0;
}

.custom_height {
  min-height: 41.5vh !important;
  border-radius: 0 0 12px 12px;
}

.content {
  width: 150px;
  height: 150px;
  background: white;
  /* margin: 35px; */
  border-radius: 10px;
}
.d-flex {
  display: flex;
}

.d-flex .content {
  margin: 6px !important;
  width: calc(20% - 12px);
}
@media (min-width: 768px) and (max-width: 991px) {
  .d-flex .content {
    width: calc(25% - 12px);
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .d-flex .content {
    width: calc(33.333% - 12px);
  }
}
@media (min-width: 480px) and (max-width: 575px) {
  .d-flex .content {
    width: calc(50% - 12px);
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .d-flex .content {
    width: calc(50% - 12px);
  }
}

.sidebar {
  position: fixed;
  /* top: 0; */
  right: -126%; /* Initially hidden */
  width: 500px;
  height: calc(100% - 50px);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: right 0.3s ease; /* Smooth transition */
}

.sidebar.open {
  right: 0; /* Show sidebar */
}
.sidebar1 {
  position: fixed;
  top: 64px;
  bottom: 0;
  right: -100%; /* Initially hidden */
  width: 600px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 30;
  transition: right 0.3s ease; /* Smooth transition */
  overflow-y: auto; /* Enable scrolling within the sidebar */
  /* height: 500px;
  min-height: 900px; */
}

.sidebar1.open {
  right: 0; /* Show sidebar */
}
.maincntainer {
  padding-right: 0;
  transition: all 0.3s ease;
}
body.sidebar-open .maincntainer {
  padding-right: 500px;
}
body.sidebar1-open .maincntainer {
  padding-right: 600px;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 1;
  display: flex;
}
.maincntainer .task_form_area > div {
  margin-left: 0 !important;
  margin-right: 15px !important;
  margin-top: 0 !important;
}
.maincntainer .task_form_area > label {
  margin-top: 0;
  margin-right: 15px !important;
}

.muiltr-5g2394-MuiTable-root td {
  padding-top: 7px;
  padding-bottom: 7px;
}

.loader {
  border: 12px solid #bdbdbd;
  border-radius: 50%;
  border-top: 12px solid rgb(255, 255, 255);
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cardhover :hover {
  background-color: rgba(238, 242, 255);
}

.uploadImg {
  width: 150px;
  height: 150px;
  left: 71px !important;
  position: absolute;
  border-radius: 50%;
  top: 91px;
  border: 5px solid #fff;
  background-color: rgb(54 54 54 / 30%);
}

.uploadImg1 {
  width: 150px;
  height: 150px;
  left: 70px !important;
  position: absolute;
  border-radius: 50%;
  top: 91px;
  border: 5px solid #fff;
  background-color: rgb(54 54 54 / 30%);
}

.sidebarMarg {
  margin-top: 55px;
}

@media (min-width: 1200px) {
  .muiltr-1oqqzyl-MuiContainer-root {
    max-width: 780px;
  }
}

/*imp task section start*/
.task-table {
  width: 100%;
  border-collapse: collapse;
}

.task-table-header,
.task-table-footer {
  display: none;
}

.task-table-body {
  width: 100%;
}

.task-table-row {
  width: 100%;
}

.task-table-cell {
  padding: 0;
}

.task-header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.task-id {
  display: flex;
  flex-direction: column;
}

.task-id-text {
  font-weight: bold;
  font-size: 1.25rem;
}

.task-button {
  margin-left: auto;
}

.task-mark-reviewed-button {
  min-width: 2.5rem;
  color: #1c3faa;
  background-color: #e0f0ff;
  padding: 6px 15px;
  border-radius: 16px;
  width: auto;
  display: inline-block;
}

.task-details {
  padding: 1rem;
}

.task-detail {
  margin-top: 0.75rem;
}

.task-detail-item {
  margin-top: 0.5rem;
  padding: 10px;
}

.task-detail-label {
  background-color: rgba(241, 245, 249);
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  color: #888888;
  font-weight: bold;
  padding: 10px;
}

.task-detail-value {
  margin-left: 0.5rem;
}

.task-completion {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.task-completion-detail {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.task-completion-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.task-completion-text {
  margin-top: 0.125rem;
}

.task-completion-team {
  font-weight: bold;
}

.task-completion-note {
  margin-left: 0.5rem;
}

.task-completion-date {
  font-size: 0.875rem;
  color: #888888;
}

.task-review {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.task-review-form {
  display: flex;
  align-items: flex-start;
}

.task-review-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1.25rem;
}

.task-review-textarea-wrapper {
  display: flex;
  align-items: flex-start;
}

.task-review-textarea {
  width: 100%;
  min-height: 2.25rem;
  height: auto;
}

.task-review-save-button {
  float: right;
}

.mat-form-field-wrapper {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

.mat-form-field-flex {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 3px;
}

.mat-form-field-infix {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.mat-input-element {
  width: 100%;
  box-sizing: border-box;
  padding: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 0.5;
}

.mat-focus-indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #3f51b5;
  border-radius: 4px;
  margin-left: 5px;
  transition: background-color 0.3s;
}

.mat-focus-indicator:hover {
  background-color: #303f9f;
}

.mat-form-field-label-wrapper {
  display: none;
}

.mat-form-field-underline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #ccc;
}

.mat-form-field-ripple {
  display: block;
  height: 100%;
  background-color: #3f51b5;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.mat-form-field-subscript-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.mat-form-field-hint-wrapper {
  opacity: 1;
  transform: translateY(0%);
}

.mat-form-field-hint-spacer {
  flex: 1;
}

/*imp task section end*/
.uplImg1 {
  background: none;
  text-align: center;
  position: relative;
  left: 30%;
  top: 43%;
  color: #fff;
}
.uplImg2 {
  background: none;
  text-align: center;
  position: relative;
  left: 55%;
  top: 28%;
  color: #fff;
}
.uplImg3 {
  background: none;
  text-align: center;
  position: relative;
  left: 43%;
  top: 44%;
  color: #fff;
}

.upImg {
  width: 150px;
  height: 150px;
  left: 0px !important;
  position: absolute;
  border-radius: 50%;
  top: -4px;
  border: 5px solid #fff;
  background-color: rgb(54 54 54 / 30%);
}
.MuiFormControl-root.MuiTextField-root.muiltr-z3c6am-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

@media (max-width: 767px) {
  body.sidebar-open .maincntainer {
    padding-right: 0;
  }
  .sidebar {
    max-width: 100%;
  }
}

.icon-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  cursor: pointer;
  outline: none;
}

.icon-button .count {
  position: absolute;
  top: -5px;
  right: -5px;
  background: blue;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

/*security*/
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.font-bold {
  font-weight: 700;
}

.tracking-tighter {
  letter-spacing: -0.05em;
}

.mt-3 {
  margin-top: 0.75rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.font-semibold {
  font-weight: 600;
}

.flex {
  display: flex;
}

.rounded-1xl {
  border-radius: 0.75rem;
}

.fuse-vertical-navigation-item {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.p-2 {
  padding: 0.5rem;
}

.active {
  background-color: #f0f0f0; /* Adjust this to match the active background color */
}

/*security end*/
.muiltr-14sjh14 .FusePageSimple-contentWrapper {
  background-color: white;
}

.sec_name {
  margin-right: 16px;
  /* font-weight: bold; */
}

.accordion-container {
  margin: 20px; /* Add margin between accordions */
}

.custom-accordion {
  margin-bottom: 20px; /* Add margin between each accordion */
  height: auto; /* Increase the height of the accordion */
}

.muiltr-14sjh14 {
  min-height: auto;
}

.toast-container {
  z-index: 9999 !important;
  position: fixed !important;
  top: 60px !important;
  right: 10px !important;
}

.muiltr-19kzrtu {
  padding-right: 24px;
  padding-top: 24px;
  padding-left: 0px;
  padding-bottom: 24px;
}

.muiltr-1nqooiy-MuiGrid-root > .MuiGrid-item {
  padding-left: 8px;
}
.evaluation-team-container {
  display: grid;
  gap: 1rem; /* gap between items */
}

@media (min-width: 768px) {
  .evaluation-team-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.custom-update-button {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);

  border-radius: 22px !important;
  padding: 6px 12px;
  cursor: pointer;

  box-shadow:
    0 3px 1px -2px #0003,
    0 2px 2px 0 #00000024,
    0 1px 5px 0 #0000001f;
}

.custom-update-button:hover {
  background-color: rgb(230, 230, 230);

  color: black;
}

.muiltr-6od3lo-MuiChip-label {
  padding-left: 0px;
  padding-right: 0px;
  white-space: "none";
}
.muiltr-1pab1ov-MuiButtonBase-root-MuiButton-root {
  box-shadow: none !important;
}
.bgnone {
  background-color: transparent !important;
}
.mt-10 {
  margin-top: 1rem;
}
.align-items-center {
  align-items: center !important;
}
.white_box {
  background-color: #fff;
}
.pt-0 {
  padding-top: 0 !important;
}
.custom_margin .muiltr-1w4vsez-MuiFormControl-root {
  margin: 0 !important;
}
.custom_margin .muiltr-1uxq62a-MuiButtonBase-root-MuiRadio-root {
  padding: 5px 9px 0 !important;
}
/* .custom_margin .muiltr-15obqod, .custom_margin .muiltr-icqxyf{margin-top: 0 !important;} */
.mt-25px {
  margin-top: 25px;
}
.muiltr-4q8sm7-MuiFormLabel-root-MuiInputLabel-root {
  color: #1e293b;
  font-size: 2.5rem !important;
}
.p-24 {
  padding: 1.4rem !important;
}
a {
  text-decoration: none !important;
}
a:not([role="button"]):not(.MuiButtonBase-root) {
  color: rgba(59, 130, 246, var(--tw-text-opacity)) !important;
}
.p-30 {
  padding: 30px;
}
.button_rounded {
  padding-left: 20px !important;
  padding-right: 20px !important;
  border-radius: 9999px !important;
}
.close_button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
}
.close_button svg {
  display: inline-block;
  opacity: 0.5;
}
.close_button:hover {
  background: rgba(0, 0, 0, 0.2);
}
.mr-30 {
  margin-right: 30px;
}
.action_button button {
  display: inline-block;
  padding: 0 5px 0 0;
  width: auto;
  min-width: auto;
  min-height: auto;
  height: auto;
  text-align: center;
  margin-right: 10px;
}
.action_button button .muiltr-1gnd1fd-MuiButton-endIcon {
  margin-left: 0;
}
.muiltr-kpgjex-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: #1e293b;
}
.muiltr-kpgjex-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: rgba(100, 116, 139, 0.54) !important;
}
.muiltr-yz7uio-MuiTableCell-root:first-child {
  padding-left: 30px;
}
.muiltr-5g2394-MuiTable-root td:first-child {
  padding-left: 30px;
}
/* .muiltr-5g2394-MuiTable-root td:nth-child(3){width: 40%;} */
.muiltr-1b0ve20 > :not(style) {
  margin: 0;
  width: 100%;
}
.muiltr-1y06cml > :not(style) {
  margin: 0;
  margin-top: 30px;
  width: 100%;
}
.muiltr-1hletqr {
  width: 400px;
}
.text-popup {
  font-size: 1.6rem !important;
}
.custom_label {
  color: rgb(107, 114, 128);
  font-size: 1.4rem !important;
  margin: 0 0 -14px 10px;
  background: #fff;
  z-index: 1;
  width: auto;
  display: inline-block;
  padding: 0 3px;
}
.muiltr-a9fwfj-MuiPaper-root-MuiAccordion-root {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.subtitle_custom {
  font-size: 2.2rem !important;
}
.pr-30 {
  padding-right: 30px;
}
.consultation-expansion-panel.mat-expansion-panel[_ngcontent-oge-c292]:not(
    [class*="mat-elevation-z"]
  ) {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2) !important;
}
.mr-24 {
  margin-right: 24px;
}
.py-6 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pt-24 {
  padding-top: 20px !important;
}
.pb-24 {
  padding-bottom: 20px !important;
}
.Access_list_box::before {
  display: none;
}
.d-inline-block {
  display: inline-block;
}
.radius-0 {
  border-radius: 0;
}
.task_table th {
  padding: 15px;
  text-align: left;
}
.task_table td {
  padding: 15px;
}
.muiltr-piv2u8-MuiPaper-root {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.border-lastremove:last-child .border-b {
  display: none;
}
.border_box {
  border: 1px solid rgba(226, 232, 240, 1);
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  border-radius: 4px 4px 0 0;
}
/* .text-xl{font-size: 18px !important;} */
.border_accordian{border: 1px solid rgba(226,232,240, 1);}
.muiltr-1oe5gwb-MuiInputBase-root-MuiFilledInput-root{border: 1px solid rgba(203,213,225, 1) !important;}
.muiltr-1sod0hp-MuiTabs-indicator{display: none;}
.muiltr-uc5miz-MuiButtonBase-root-MuiTab-root.Mui-selected {color: rgba(30, 41, 59, 1);border: 0;background: rgba(51, 65, 85, 0.1) !important;border-radius: 30px;}
.muiltr-mri9va-MuiBadge-badge {background: #2c3e50;color: #fff;top: 19px;right: 0;}
.justify-content-Accordian_title {justify-content: space-between !important;}
.task_box {background: none;box-shadow: none;}
.flex-wrap{flex-wrap: wrap;}
.box_reset{box-shadow: none; border-radius: 0 !important;}
.mt-0{margin-top: 0 !important;}
.muiltr-bni3t0-MuiSelect-select-MuiInputBase-input.MuiSelect-select{line-height:1.4375em ;}
.w-100{width: 100%;}
.pl-0{padding-left: 0 !important;}
@media (min-width: 1200px) {
  .desktop_hide{display: none;}
}
@media (max-width: 1199px) {
.btn_margin{padding-left: 0 !important; margin:10px 0;}
.close_popup{position: absolute; right: -36px; top: 15px;}
.muiltr-18fjwz5-MuiPaper-root-MuiDrawer-paper{overflow: inherit !important;}
.close_popup svg{color: rgb(255 255 255);}
}
@media (max-width: 768px) {
.px-24 {padding-left: 1.6rem !important;padding-right: 1.6rem !important;}
.muiltr-10oypuz-MuiBadge-badge{font-size: 10px; top: 7px; right: 4px;}
.hidden-small{display: none !important;}
.d-sm-block{display: block !important;}
.mt_sm-10{margin-top: 10px;}
.task_table_content{height: auto !important;}
.task_table_content > div > div{margin: 5px 0;}
.sidebar1{right: -100%;width: 400px; max-width: 100%; top: 50px;}
body.sidebar1-open .maincntainer {
  padding-right: 400px;
}
.Fw-100{width: 100%; max-width: 100%;}
.muiltr-5g2394-MuiTable-root td{white-space: nowrap;}
.muiltr-4q8sm7-MuiFormLabel-root-MuiInputLabel-root{font-size: 2rem !important;}
}
@media (max-width: 479px) {
  body.sidebar1-open .maincntainer {
    padding-right: 100%;
  }
  .sidebar1{right: -100%;width: 100%; max-width: 100%; top: 50px;}
}
