/*@tailwind base;*/

/**
 * Custom base styles
 */

* {
  /* Text rendering */
  text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

* :focus {
  outline: none !important;
}

html {
  font-size: 62.5%;
  font-family:
    "Inter var",
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif;
  background-color: #121212;
}

body {
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
  font-feature-settings: "salt";
}

html,
body {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

html,
body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  min-height: 100%;
  width: 100%;
  flex: 1 1 auto;
}

#root {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

h1,
.h1 {
  font-size: 24px;
}

h2,
.h2 {
  font-size: 20px;
}

h3,
.h3 {
  font-size: 16px;
}

h4,
.h4 {
  font-size: 15px;
}

h5,
.h5 {
  font-size: 13px;
}

h6,
.h6 {
  font-size: 12px;
}

.ps > .ps__rail-y,
.ps > .ps__rail-x {
  z-index: 99;
}

a[role="button"] {
  text-decoration: none;
}

[role="tooltip"] {
  z-index: 9999;
}

.MuiModal-root {
  z-index: 9999;
}

/* Medium Devices, Desktops Only */
@media only screen and (min-width: 992px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar:hover {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.06);
  }

  ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:active {
    border-radius: 20px;
  }
}

form label {
  z-index: 99;
}

body.no-animate *,
body.no-animate *::before,
body.no-animate *::after {
  transition: none !important;
  animation: none !important;
}

button:focus {
  outline: none;
}

/* Removes webkit's autofill backgorund color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transitiondelay: 9999s;
  transitionproperty: background-color, color;
}

:focus {
  outline-color: transparent;
}

/*fullcalendar Fix*/
.fc-scrollgrid-section-liquid {
  height: 1px !important;
}

.muiltr-mnnd27-MuiInputBase-input-MuiFilledInput-input {
  padding-top: 2px;
}

.muiltr-1oe5gwb-MuiInputBase-root-MuiFilledInput-root {
  min-height: 47px;
  background-color: white;
  border: 1px solid gray;
}

.muiltr-8ifrkm {
  border-bottom: none;
}

.muiltr-b10jnn .container {
  margin-bottom: 30px;
  border-radius: 25px;
}

.MuiBox-root.muiltr-m0mtpj {
  margin: 0;
  padding: 0;
}

.custom_height {
  min-height: 41.5vh !important;
  border-radius: 0 0 12px 12px;
}

.content {
  width: 150px;
  height: 150px;
  background: white;
  /* margin: 35px; */
  border-radius: 10px;
}
.d-flex {
  display: flex;
}

.d-flex .content {
  margin: 6px !important;
  width: calc(20% - 12px);
}
@media (min-width: 768px) and (max-width: 991px) {
  .d-flex .content {
    width: calc(25% - 12px);
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .d-flex .content {
    width: calc(33.333% - 12px);
  }
}
@media (min-width: 480px) and (max-width: 575px) {
  .d-flex .content {
    width: calc(50% - 12px);
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .d-flex .content {
    width: calc(50% - 12px);
  }
}

.sidebar {
  position: fixed;
  /* top: 0; */
  right: -100%; /* Initially hidden */
  width: 500px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: right 0.3s ease; /* Smooth transition */
}

.sidebar.open {
  right: 0; /* Show sidebar */
}
.sidebar1 {
  position: fixed;
  /* top: 0; */
  right: -100%; /* Initially hidden */
  width: 600px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 30;
  transition: right 0.3s ease; /* Smooth transition */
  overflow-y: auto; /* Enable scrolling within the sidebar */
  height: 500px;
  min-height: 900px;
}

.sidebar1.open {
  right: 0; /* Show sidebar */
}
.maincntainer {
  padding-right: 0;
  transition: all 0.3s ease;
}
body.sidebar-open .maincntainer {
  padding-right: 500px;
}
body.sidebar1-open .maincntainer {
  padding-right: 600px;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 1;
  display: flex;
}
.maincntainer .task_form_area > div {
  margin-left: 0 !important;
  margin-right: 15px !important;
  margin-top: 10px !important;
}
.maincntainer .task_form_area > label {
  margin-top: 10px;
  margin-right: 15px !important;
}

.muiltr-5g2394-MuiTable-root td {
  padding-top: 7px;
  padding-bottom: 7px;
}

.loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid rgb(125, 125, 125);
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cardhover :hover {
  background-color: rgba(238, 242, 255);
}

.uploadImg {
  width: 150px;
  height: 150px;
  left: 70px !important;
  position: absolute;
  border-radius: 50%;
  top: 91px;
  border: 5px solid #fff;
  background-color: rgb(54 54 54 / 80%);
}

.uploadImg1 {
  width: 150px;
  height: 150px;
  left: 70px !important;
  position: absolute;
  border-radius: 50%;
  top: 91px;
  border: 5px solid #fff;
  background-color: rgb(54 54 54 / 80%);
}

.sidebarMarg {
  margin-top: 55px;
}
